html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#game-container {
    width: 750px;
    height: 625px;
    background-color: black;
    position: relative;
}

#doctor {
    width: 50px;
    aspect-ratio: 1/1;
    background-color: red;
    position: absolute;
    bottom: 120px;
    left: 350px;
}