html,body {
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

#interface {
    width: 750px;
    height: 625px;
    z-index: 1;
    position: absolute;
    display: flex;
}

#game-over {
    display: none;
    flex-direction: column;
    background-color: red;
    width: 100%;
    place-self: center;
    padding: 20px;
}

#home {
    display: flex;
    flex-direction: column;
    background-color: red;
    width: 100%;
    place-self: center;
    padding: 20px;
}

#game-over #go{
    font-size: xx-large;
    text-align: center;
}
#game-over p {
    text-align: center;
    margin: 0;
}

#game-container {
    width: 750px;
    height: 625px;
    position: relative;
    overflow: hidden;
    cursor: url("assets/cursor.png"), auto;
    background-image: url("assets/floor.png");
    background-position: center center;
}

#shot-area {
    width: 750px;
    height: 625px;
    position: absolute;
    z-index: 1;
}

#doctor {
    width: 60px;
    aspect-ratio: 14/20;
    position: absolute;
    top: 500px;
    left: calc(750px / 2 - 60px / 2);
    background-image: url("assets/oak_1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.zombie {
    width: 60px;
    aspect-ratio: 14/20;
    position: absolute;
    top: -50px;
    background-position: 0 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}

.score {
    font-size: x-large;
    color: white;
    user-select: none;
    position: absolute;
}

.bullet {
    width: 10px;
    aspect-ratio: 1/1;
    position: absolute;
    background-position: 0 0;
    background-image: url("assets/bullet.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}